.decklist-container{
  margin-top: 5rem;
  width: 80%;
  height: 35%;
  align-self: center;
  box-shadow: 0rem 0rem 2rem black;
}
.deck-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,200px));
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 10rem 22rem 15rem 10rem;
  height: auto;
}
.empty-deck-container{
  min-height: 100%;
  position: relative;
  background-color: rgb(63, 63, 63);
  padding-top: 3rem;
  padding-left: 5rem;
}

.empty-deck-container > h4{
  display: block;
  font-size: 2.5rem;
  color: white;
  background-color: none;
}
.edit-deck-btn{
  
  color: white;
  background-color: rgb(20, 20, 20);
  border: .1rem solid transparent;
  border-radius: 1rem;
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 2rem;
  line-height: 2.5rem;
  padding: 1rem;
  text-align: center;
}

.edit-deck-btn:hover{
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: .1rem solid white;
}
