
.cart-list{
  height: 97%;
  overflow: scroll;
}
.cart-list::-webkit-scrollbar{
  display: none;
}

.cart-btn{
  width: 50%;
  height: 3%;
  text-align: center;
  position: absolute;
  bottom: 0;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  background-color: black;
  font-size: 1.5rem;
}
.add-btn{
  left: 0;
  color: white;
}
.clear-btn{
  right: 0;
  color: white;
}
.add-btn:hover, .clear-btn:hover{
  background-color: transparent;
  color: white
}
.cart-item{
  min-height: 5%;
  background-color: rgb(20, 20, 20);
  border-radius: 0 20rem 20rem 0;
  border-bottom: 1px solid rgb(116, 116, 116);
  margin: 0px;
  padding-left: .5rem;
  white-space: nowrap;
}
.cart-item p {
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0px;
}
.cart-item a {
  display: block;
  height: 100%;
  text-align: left;
  overflow: hidden;
  margin-right: 1rem;
}
.cart-item:hover{
  background-color: rgba(121, 2, 2, 0.904);
}
.cart{
  height: 100%;
  overflow: hidden;
}
.cart-container{
  position: relative;
  width: 20%;
  background-color: rgb(63, 61, 61);
}