
.display-modal{
  display: inline-block;
  border: 1px solid black;
  background-color: red;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateY(-50%);
}
.hide-modal{
  display: none;
}
.modal-image{
  height: 30rem;
}