/*
primary: rgb(57, 93, 255);
secondary: rgb(128, 149, 245)
contrast: rgb(250, 209, 96)
*/


*,
*::before,
*::after{
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
html, body, #root, .App {
  height: 100%;
}
html{
  font-size: 62.5%;
}
#root, body{
  box-sizing: border-box;
  min-width: 320px;
}
.col{
  margin: 0px;
  padding: 0px;
}
ul{
  list-style-type: none;
}
.flex-container-row{
  display: flex;
  flex-direction: row;
}
.flex-container-col{
  display: flex;
  flex-direction: column;
}

.grid{
  display: grid;
}

.primary{
  color: rgb(57, 93, 255);
  background-color: rgb(57, 93, 255);
}

.secondary{
  color: lighten(black);
  background-color: rgba(158, 176, 255,.5);
}

.contrast{
  color: rgb(250, 209, 96);
  background-color: rgb(250, 209, 96)
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}