
.search-container{
  margin-right: auto;
  width: 80%;
  align-items: center;
  padding: 2rem;
  overflow-y: scroll;
}
.search-container h4:first-child{
  font-size: 5rem;
  animation: fadeIn 3s;
  font-family: "Roboto",sans-serif;
}

.search-container::-webkit-scrollbar{
  display: none;
}