.home{
  height: 100%;
  position: relative;
}

.section{
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  position: relative;

  & > p {
    font-size: 3.5rem;
    margin: 5rem 0;
    animation: fadeIn 2s ease-out;
  }
}

.header{
  justify-content: center;
  transition: background-color .5s;
  & > h4{
    display: inline-block;
    font-size: 7rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
  }

  // cascading effect for header
  @for $i from 1 through 9 {
    $duration: ($i * .2s) + .6s;
    & > :nth-child(#{$i}) {
      animation: fadeInTop (#{$duration}) ease-out;
    }
  }
}
.startButton{
  display: inline-block;
  width: fit-content;
  align-self: center;
  color: black;
  font-size: 3rem;
  font-family: "Lato", sans-serif;
  animation: fadeIn 2s ease-out;
}
.infoButton{
  position: absolute;
  bottom: 10%;
  left: 50%;
  padding: .5rem 1rem;
  text-decoration: none;
  font-size: 3rem;
  font-family: "Lato", sans-serif;
  color: black;
  border: 2px solid black;
  border-radius: .5rem;
  transform: translateX(-50%);
  transition: background-color .5s, transform .5s, box-shadow .5s;
  animation: fadeIn 2s ease-out;
}
.infoButton:hover{
  transform: translate(-50%, -20%);
  box-shadow: .5rem .5rem 1rem black;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fadeInTop{
  0%{
    opacity: 0;
    transform: translateY(-30%);
  }
  50%{
    transform: translateY(10%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fadeInLeft{
  0%{
    opacity: 0;
    transform: translateX(-10%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}

@media screen and (max-width: 520px){
  .header{
      & > h4{
        font-size: 5rem;
      }
  }
  .section{
    & > p{
      font-size: 2rem;
    }
  }
}