.section{
  flex: 1 1 50%;
  margin: 2rem;
  padding: 3rem;
  opacity: .5;
  transition: opacity .5s, box-shadow .5s, border .5s;
  animation: fadeIn 1s;
  border: 5px solid transparent;

  &:hover{
    opacity: 1;
    border: 5px solid black;
    box-shadow: .5rem .5rem 1rem black;
    .description{
      opacity: 1;
    }
  }
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity:.5;
  }
}
.sectionHovered{
  // do something after hovered
}
.header{
  border-bottom: solid black;
  letter-spacing: .2rem;
  font-size: 5rem;
}

.description{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-size: 3rem;
  margin-top: 2rem;
  text-align: justify;
  transition: opacity 1s;
}

@media screen and (max-width: 520px){
  .header{
    font-size: 3rem;
  }
  .description{
    font-size: 2rem;
  }
}