.search-bar{
  margin-bottom: 2rem;
  & > input{
  }
  &  > .search-icon{
    display: inline-block;
  }
}
.restrict-checkbox{
  margin-bottom: 2rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-family: "Roboto",sans-serif;
  border: 2px solid transparent;
}
.restrict-checkbox:hover label{
  text-decoration: none;
  
}
.restrict-checkbox:hover{
  border: 2px solid black;
}
.restrict-checkbox span {
  margin-right: 2rem;
}