.deck-item{
  color: black;
  display:inline-block;
  list-style-type: none;
  text-decoration: none;
  position:relative;
}
.deck-item a{
  color: black;
  text-decoration: none;
}
.deck-item a:hover{
  color: red;
}
.card-text{
  display: flex;
  white-space: nowrap;
  margin-bottom: .5rem;
  font-size: 1.6rem;
  line-height: 1.4rem;
}