*,
*::before,
*::after{
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
html, body, #root, .App {
  height: 100%;
}
html{
  font-size: 62.5%;
}
#root, body{
  min-height: 100vh;
  box-sizing: border-box;
  min-width: 320px;
}
.col{
  margin: 0px;
  padding: 0px;
}

.flex-container-row{
  display: flex;
  flex-direction: row;
}
.flex-container-col{
  display: flex;
  flex-direction: column;
}
.header{
  padding-top: 1.2rem;
  padding-bottom: .6rem;
  background-image: linear-gradient(to top right, lightgrey, white);
}

ul.nav-bar{
  font-size: 2rem;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: auto;
  padding-right: 1rem;
}
li.nav-bar-item{
  display: inline-block;
  margin-right: 1rem;
}
.nav-bar-link:hover{
  text-decoration: none;
  color: grey;
}
.nav-bar-link{
  color:black;
}
.container{
  display: grid;
  grid-template-columns: repeat(4,1fr)
}
.card-list-container::-webkit-scrollbar{
  display: none;
}
.card-name{
  font-size: 1.2rem;
  text-align: center;
}
@media screen and (max-width: 1000px){
  .container{
    grid-template-columns: repeat(3,1fr);
  }
}

@media screen and (max-width: 720px){
  .container{
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (max-width: 320px){
  .container{
    grid-template-columns: repeat(1,1fr);
  }
}

.create-title{
  font-size: 5rem;
  animation: fadeIn 3s;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.create, .deck-list, .deck-container{
  height: 100%;
}
.deck-container{
  width: 20%;
}
.search-container{
  margin-right: auto;
  width: 80%;
  align-items: center;
  padding: 2rem;
  overflow-y: scroll;
}
::-webkit-scrollbar { /* required, although an apparent no-op */
  color: red;
}
.clear-deck-btn{
  width: 100%;
  background-color: rgb(24, 81, 236);
  color: white;
  border-radius: 20rem 20rem 0 0;
}
.clear-deck-btn:hover{
  background-color: white;
  border: 1px solid rgb(24, 81, 236);
  color: rgb(24, 81, 236);
}
p.deck-item{
  max-height: 3rem;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 0 20rem 20rem 0;
  border-bottom: 1px solid white;
  padding: .3rem;
  margin: 0px;
  overflow-y: hidden;
}
p.deck-item:hover{
  opacity: .5;
}